*{
  margin = 0;
  padding = 0;
}
p.first-text{
  color: rgb(0,0,0);
  font-weight: bold;
  font-size: 50px;
  font-family: "Lucida Console";
  text-align: center;
  border-bottom: 3px solid rgb(240,99,17);
  padding-bottom: 10px;
  font-style: italic;
  width: 70%
}

.center{
  text-align: center;
  margin: 0 auto;
  width: 1000;
  position:relative;
}

.first-text{
  position: relative;
  top: 50%;
  margin: 0 auto !important;
  background: grey;
  opacity = 1;
}

.main-image{
  margin: 10px 40px 10px 10px;
  float: left;
  width: 25%;
  height: 80%;
  box-shadow: 5px 5px 2px 1px;
}

.second-image{
  margin: 10px 10px 10px 40px;
  float: right;
  width: 25%;
  height: 80%;
  box-shadow: 5px 5px 2px 1px;
  }
.left-text{
  height: 70%;
}
.right-text{
  height: 70%;
  margin: 20px;
}
/* for the last thing */
.last-part img{
    z-index: -1;
    display: block;
    position: absolute;
    margin: 10px 10px 10px 40px;
    width: 25%;
    height: 60%;
    box-shadow: 5px 5px 2px 1px;
    left: 35%;
    top: 255%;
}

.last-part{
  height: 70%;
  margin-top: 20px;
  z-index: -2;
}

.last-part p.first{
  margin: 20px 40px 20px 20px;
  font-family:Georgia;
  color: rgb (10,10,10);
  font-size: 25px;
  position: absolute;
  left: 2%;
  width: 30%;
  font-weight: medium;
  font-style: italic;
  z-index: -1;
}

.last-part p.second{
  margin: 20px;
  font-family:Georgia;
  color: rgb (10,10,10);
  font-size: 25px;
  position: absolute;
  left: 65%;
  top: 250%;
  width: 30%;
  font-weight: medium;
  font-style: italic;
  z-index: -1;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}

.intro{
  margin: 20px 40px 20px 20px;
  font-family:Georgia;
  color: rgb (10,10,10);
  font-size: 25px;
  font-weight: medium;
  font-style: italic;
}

.center{
	margin: 0 auto;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

.first-photo{
  height: 100%;
  width: 100%;
  background-image: url("image1.jpg");
  background-size: cover;
  margin:0;
  padding: 0;
  opacity: 0.9;
  border-style:none;
}

.form{
  text-align: center;
  border-left: 3px solid aquamarine;
  border-right: 3px solid aquamarine;
  background-color: rgba(12,32,12,0.5);
  margin: 20px;
}

.final-images{
  background-color: white;
  height: ;
  width: 100%;
  height: 100px;
  text-align:center;
}

.final-images img{
  margin = 5px 5px;
  height: 100px;
  width: 100px;
  transition: transform 0.5, 
}

.final-images img:hover{
  transform: scale(1.1,1.1);
}
body{
 background-image: url("image5.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}
